@import url(styles/header.css);

:root{
    --cor-de-fundo: rgb(193, 223, 208);
    --branco: #FFFFFF;
    --azul: #001d7a;
    --azule: #002ec4;
}

body {
    background-color: var(--cor-de-fundo);
}
