.cabeçalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/menu-hamburguer.svg");
    display: inline-block;
}

.cabeçalho{
    background-color: var(--branco);
}

.taylor{
    width: 30px;
    height:40px;
}

.coracao{
    width: 30px;
    height:40px;
}

.carrinho{
    width: 30px;
    height:40px;
}

.perfil{
    width: 30px;
    height:40px;
}

.menus{
    width: 30px;
    height:40px;
}